[Desktop Entry]
Version=1.0
Type=Application
Name=Wisp
Comment=Lightweight X11 tiled window manager written in Haskell
Exec=wisp-xinit
Icon=xmonad
Terminal=false
StartupNotify=false
Categories=Application;
